.bg-gold {
  background: -webkit-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -o-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: -moz-linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%);
  background: linear-gradient(110deg, #fdcd3b 60%, #ffed4b 60%); }

.bg-news {
  background: -webkit-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: -o-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: -moz-linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%);
  background: linear-gradient(70deg, #ff6464 40%, #5ac8fa 40%); }

.bg-germany {
  color: #fff;
  background: -webkit-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  background: -o-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  background: -moz-linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, #dd0000 66%, #ffc608 66%);
  background: linear-gradient(110deg, #000 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, #dd0000 66%, #ffc608 66%); }

.bg-purple {
  color: #fff;
  background: -webkit-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -o-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: -moz-linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%);
  background: linear-gradient(110deg, #a60af3 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #7a00cc 70%, #c03fff 70%); }

.bg-spring {
  background: -webkit-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -webkit-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -o-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -o-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: -moz-linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), -moz-linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  background: linear-gradient(70deg, #fff810 30%, rgba(0, 0, 0, 0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%); }

body {
  background: #a6d2fc none repeat scroll 0 0;
  background-image: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1) 150px, #a6d2fc 150px, #a6d2fc 300px); }

#building {
  width: 100%;
  position: relative;
  margin-top: 300px; }
  #building .floor {
    display: table;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ffde4d;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom: 48px solid #dedede; }
    #building .floor .room {
      display: inline-block;
      background-color: #dedede;
      width: 140px;
      height: 100px;
      position: relative; }
      #building .floor .room::before {
        content: "";
        display: block;
        position: absolute;
        background-color: #ebebeb;
        bottom: 82px;
        height: 10px;
        width: 68px;
        box-shadow: 0 0 0 0 white; }
      #building .floor .room::after {
        content: "";
        display: block;
        position: absolute;
        background-color: #ebebeb;
        bottom: 10px;
        height: 64px;
        width: 50px;
        background-image: linear-gradient(to bottom, #097ae7 0, #44a0f8 30px, transparent 31px, transparent 35px, #44a0f8 36px);
        box-shadow: 0 0 0 5px white, 1px 1px 2px 5px #aeaeae; }
      #building .floor .room:nth-child(odd) {
        background-color: #ffe575; }
        #building .floor .room:nth-child(odd)::after {
          left: 20px; }
        #building .floor .room:nth-child(odd)::before {
          left: 11px;
          box-shadow: 1px 1px 2px 1px #bbbbbb, -12px -28px 0 12px #ededed, 56px -28px 0 12px #ededed; }
      #building .floor .room:nth-child(even) {
        background-color: #ffe15c; }
        #building .floor .room:nth-child(even)::after {
          right: 20px; }
        #building .floor .room:nth-child(even)::before {
          right: 11px;
          box-shadow: 1px 1px 2px 1px #bbbbbb, -58px -28px 0 12px #ededed, 10px -28px 0 12px #ededed, 1px -28px 2px 5px #aeaeae; }

header {
  position: fixed;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #cdcdcd;
  background-image: radial-gradient(circle at 200px 330px, #567 80px, rgba(0, 0, 0, 0.1) 80px, rgba(0, 0, 0, 0.1) 180px, #567 180px, #567 200px, transparent 200px), radial-gradient(circle at 202px 330px, rgba(0, 0, 0, 0.2) 200px, transparent 210px); }

footer {
  background-color: #11b622;
  background-image: linear-gradient(to bottom, #15e52b, #11b622 120px);
  height: 160px;
  display: block; }

/*# sourceMappingURL=building.css.map */
